<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source =|DataDirectory|\bd_etest.db" />
  </connectionStrings>
  <appSettings>
    <add key="username" value="anonymous" />
    <add key="status" value="active" />
    <add key="firstname" value="s" />
    <add key="surname" value="pass" />
    <add key="lastname" value="" />
    <add key="questionCount" value="100" />
    <add key="remoteUrl" value="http://localhost/mosetest/" />
    <add key="id" value="0" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>