<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source =|DataDirectory|\bd_etest.db" />
  </connectionStrings>
  <appSettings>
    <add key="username" value="anonymous" />
    <add key="status" value="active" />
    <add key="firstname" value="s" />
    <add key="surname" value="pass" />
    <add key="lastname" value="" />
    <add key="questionCount" value="100" />
  </appSettings>

</configuration>